body {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
    background-color: #f4f1dd;
    font-family: Open Sans, sans-serif;
}

h1, h2, span{
    color: #656058;
    font-family: Open Sans, sans-serif;
}