@import url('layout.css');
@import url('reset.css');
@import url('pages/index.css');
@import url('components/navbar.css');
@import url('components/buttons.css');

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');