# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

# React / Build
build/
dist/

# macOS
.DS_Store

# Windows
Thumbs.db

# Visual Studio Code
.vscode/

# Archivos temporales
*.log
*.tmp
*.swp

# Otros
coverage/
