<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modales</title>
</head>
<body>
    <div class="option-item">
        <h2 id="options-title" class="options-title">Options</h2>
        <button id="close-options" class="close-options" aria-label="Close options menu">
            <img src="assets/close.png" class="close-options" alt="Close" />
        </button>
    </div>
    <div class="option-item">
        <button id="new-folder" class="new-folder" aria-label="new folder option">
            <img src="assets/folder.png" class="new-folder" alt="New folder" />
            <span>New folder</span>
        </button>
    </div>
    <div class="option-item">
        <button id="new-note" class="new-note" aria-label="new note option">
            <img src="assets/bitmap.png" class="new-note" alt="New note" />
            <span>New note</span>
        </button>
    </div>

    <script src="js/components/modals.js"></script>
</body>
</html>