<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modales</title>
</head>
<body>
    <div id="container-new-note" class="hiden">
        <div class="option-item">
            <h2 id="options-title" class="options-title">Options</h2>
            <button class="close-btn button" aria-label="Close new file menu">
                <img src="assets/close.png" class="btn-icon" alt="Close" />
            </button>
        </div>
        <div class="option-item">
            <button id="new-folder" class="button" aria-label="new folder option">
                <img src="assets/folder.png" class="btn-icon" alt="New folder" />
                <span>New folder</span>
            </button>
        </div>
        <div class="option-item">
            <button id="new-note" class="button" aria-label="new note option">
                <img src="assets/bitmap.png" class="btn-icon" alt="New note" />
                <span><a href="/spacework.html">New note</a></span>
            </button>
        </div>
    </div>
    
    <div id="container-insert" class="hiden">
        <div class="option-item">
            <h2 id="options-title" class="options-title">Insert</h2>
            <button class="close-btn button" aria-label="Close insert menu">
                <img src="assets/close.png" class="btn-icon" alt="Close" />
            </button>
        </div>
        <div class="option-item">
            <button id="new-image" class="button" aria-label="new image insert">
                <img src="assets/insert-picture-icon.png" class="btn-icon" alt="New picture" />
                <span>Image</span>
            </button>
        </div>
        <div class="option-item">
            <button id="new-video" class="button" aria-label="new video insert">
                <img src="assets/video.png" class="btn-icon" alt="New video" />
                <span>Video</span>
            </button>
        </div>
        <div class="option-item">
            <button id="new-audio" class="button" aria-label="new audio insert">
                <img src="assets/volumen.png" class="btn-icon" alt="New audio" />
                <span>Audio</span>
            </button>
        </div>
    </div>

    <div id="container-format" class="hiden">
        <div class="option-item">
            <h2 id="options-title" class="options-title">Format</h2>
            <button class="close-btn button" aria-label="Close insert menu">
                <img src="assets/close.png" class="btn-icon" alt="Close" />
            </button>
        </div>
        <div class="option-item">
            <button id="font-bold" class="button" aria-label="Font bold">
                <span style="font-weight: 800;">Bold</span>
            </button>
        </div>
        <div class="option-item">
            <button id="font-italic" class="button" aria-label="Font italic">
                <span style="font-style: italic;">Italic</span>
            </button>
        </div>
        <div class="option-item">
            <button id="font-underline" class="button" aria-label="Font underline">
                <span style="text-decoration: underline;">Underline</span>
            </button>
        </div>
        <div class="option-item">
            <button id="font-list" class="button" aria-label="Font list">
                <span> • List</span>
            </button>
        </div>
    </div>
</body>
</html>