<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navegación Responsive</title>
    </head>
<body>
    <button id="hamburger-btn" class="hamburger-btn" aria-label="Open menu">
        <svg class="icon"><title>Icon clip</title><use href="assets/icons.svg#icon-clip"></use></svg>
    </button>

    <ul id="nav-menu" class="nav-menu active">
        <div class="first-nav">
            <li><a href="index.html" aria-label="Home">
                <svg class="icon"><title>Icon home</title><use href="assets/icons.svg#icon-home"></use></svg>
            </a></li>
            <li><a href="#" aria-label="Tasks">
                <svg class="icon"><title>Icon task</title><use href="assets/icons.svg#icon-task"></use></svg>
            </a></li>
            <li><a href="#" aria-label="Search">
                <svg class="icon"><title>Icon search</title><use href="assets/icons.svg#icon-search"></use></svg>
            </a></li>
        </div>
        <div class="second-nav">
            <li><a href="#" aria-label="Settings">
                <svg class="icon"><title>Icon settings</title><use href="assets/icons.svg#icon-settings"></use></svg>
            </a></li>
            <li><a href="signup.html" aria-label="User Profile">
                <svg class="icon"><title>Icon user profile</title><use href="assets/icons.svg#icon-user"></use></svg>
            </a></li>
        </div>
    </ul>
</body>
</html>