<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navegación</title>
</head>
<body>
    <button id="hamburger-btn" class="hamburger">
        <img src="assets/clip.png" alt="App logo" class="icon" />
    </button>

    <ul id="nav-menu" class="nav-menu">
        <div class="first-nav">
            <li><a href="index.html" aria-label="Home"><img src="assets/home.png" class="icon" alt="Home icon" /></a></li>
            <li><a href="task.html" aria-label="Tasks"><img src="assets/check.png" class="icon" alt="Tasks icon" /></a></li>
            <li><a href="search.html" aria-label="Search"><img src="assets/search.png" class="icon" alt="Search icon" /></a></li>
        </div>
        <div class="second-nav">
            <li><a href="settings.html" aria-label="Settings"><img src="assets/setting.png" class="icon"alt="Settings icon" /></a></li>
            <li><a href="user.html" aria-label="User Profile"><img src="assets/avatar.png" class="icon" alt="User icon" /></a></li>
        </div>
    </ul>
</body>
</html>