<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navegación Responsive</title>
    </head>
<body>
    <button id="hamburger-btn" class="hamburger-btn" aria-label="Abrir menú">
        <img src="assets/clip.png" alt="Menu icon" class="icon-btn" />
    </button>

    <ul id="nav-menu" class="nav-menu">
        <div class="first-nav">
            <button>
                <li><a href="index.html" aria-label="Home"><img src="assets/home.png" alt="Home icon" class="icon-btn"></a></li>
            </button><button>
                <li><a href="task.html" aria-label="Tasks"><img src="assets/check.png" alt="Tasks icon" class="icon-btn"></a></li>
            </button><button>
                <li><a href="search.html" aria-label="Search"><img src="assets/search.png" alt="Search icon" class="icon-btn"></a></li>
            </button>
        </div>
        <div class="second-nav">
            <button>
                <li><a href="settings.html" aria-label="Settings"><img src="assets/setting.png" alt="Settings icon" class="icon-btn"></a></li>
            </button>
            <button>
                <li><a href="signup.html" aria-label="User Profile"><img src="assets/avatar.png" alt="User icon" class="icon-btn"></a></li>
            </button>
        </div>
    </ul>
</body>
</html>