.modal {
    /* Posicionamiento */
    position: fixed;
    transform: scale(0.7);

    /* Layout */
    max-width: 15%;
    display: flex;
    gap: 1.5rem;
    padding: 1.25rem;
    background-color: rgba(210, 192, 155, 0.9);
    border-radius: 1.25rem;
    box-shadow: 0 10px 25px rgba(75, 71, 63, 0.2);

    /* Estado */
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1000;
}

.modal.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.modal-content-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* link to spacework */
.container-item {
    display: flex;
    align-items: center;
    margin-top: 0.85rem;
}

.modal-title {
    padding-right: 1.5rem;
}

.icon-modal {
    margin-right: 0.5rem;
    padding: 0;
}

/* container button close */
.close-btn {
    display: flex;
    justify-content: flex-end;
    max-height: min-content;
}

.icon-close {
    padding: 0;
}