.hiden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0px);
    transition: all 0.3s ease-in-out;
}

.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-15%, 50%);
    background-color: rgb(210, 192, 155, 0.5);
    border-radius: 20px;
    padding: 20px;
    height: min-content;
    display: block;
}

/*Modal new note/file and insert*/
.option-item {
    display: flex;
    padding-bottom: 20px;
}

.options-title {
    padding-right: 80px;
}

.close-options, .new-folder, .new-note, .new-image, .new-video, .new-audio {
    border: none;
    background-color: rgb(210, 192, 155, 0);
    height: 20px;
}

span {
    padding-left: 10px;
    font-size: 18px;
}