#navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.88rem 3.13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    padding: 15px 10px;
}

/* Estado */
.nav-menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 40px;
}

.nav-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}

.first-nav,
.second-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffdf9;
    border-radius: 50px;
    margin: 15px 0;
}