#navbar {
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-btn {
    width: 25px;
    padding: 15px 10px;
}

.hamburger-btn {
    border: none;
    height: auto;
}

/* Ocultar barra de navegacion */
.nav-menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 40px;
}

.nav-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}

.first-nav,
.second-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffdf9;
    border-radius: 50px;
    margin: 15px 0;
}