nav {
    padding: 30px 50px;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 25px;
    padding: 15px;
}

.hamburger {
    border: none;
    background-color: rgb(255, 255, 255, 0);
}

.nav-menu {
    width: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.first-nav,
.second-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fffdf9;
    border-radius: 50px;
    height: auto;
    padding: 20px 0;
    margin: 15px 0;
}

.active {
    visibility: hidden;
}