blockquote {
    color: #a09786;
    margin: 10px 0;
}

.welcome {
    padding-top: 30px;
    font-size: 200%;
    font-weight: 700;
}

/* --- Actions --- */

.create-btn {
    min-width: 50px;
    min-height: 50px;
    border-radius: 100px;
    border: none;
    flex-shrink: 0; /*Flexbox: le ordena que no se modifiquen las medidas para adaptarse al espacio*/
    margin: 20px 0;
    background-color: #d2c09b;
    font-size: 20px;
    color: white;
}

/* --- file cards --- */

.files {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.note-card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 10vw;
    min-width: 10vw;
}


h3, p{
    margin: 0;
    font-size: 12px;
    font-weight: 400;
}