blockquote {
    color: #a09786;
    margin: 10px 0;
}

.welcome {
    margin: 10px 0;
    padding: 0;
    font-size: 200%;
    font-weight: 700;
}

.files {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.button-new-note {
    min-width: auto;
    min-height: auto;
}

.note-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.note-card {
    max-width: 90px;
    margin-right: 20px;
}

h3, p{
    margin: 0;
    font-size: 12px;
    font-weight: 400;
}

.icon-note {
    width: 90px;
}