/* Sidebars tools */
.sidebars {
    position: fixed;
    width: 40px;
    margin: 90px 30px;
    padding: 0;
} 

.first-sidebars, 
.second-sidebars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fffdf9;
    border-radius: 50px;
    height: auto;
    padding: 20px 0;
    margin: 15px 0;
}

/* note */
.spacework {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.editor {
    margin: 1.88rem 6.3rem;
}

.title {
    display: grid;
    width: 850px;
    height: auto;
    margin: 0 60px;
    place-items: center;
    border-bottom: 2px solid #a09786;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #615b50;
    outline: none;
}

.editable-sheet {
    width: 850px;
    height: auto;
    margin: 20px 60px;
    padding: 30px 60px;
    box-sizing: border-box; /*Evitar que la hoja se haga mas ancha por el padding*/
    background-color: #fffdf9;
    border: 2px solid #a09786;
    border-radius: 10px;
    font-size: 15px;
    color: #615b50;
    outline: none; /*ELiminar la linea/foco que ponen los navegadores de color azul*/
}